.product-wrapper{
  max-width:500px;
  margin-bottom: 50px;
  position: relative;
  img{
  width: 100%;
  }
}

.image-zoom {
  position : absolute;
  left : 0;
  top : 0;
  bottom : 0;
  right : 0;
  opacity : 0.9;
  display : none;
  overflow : hidden;
  cursor:move;
}
.image-zoom img {
    position : absolute;
    top : 0;
    left : 0;
}

.sticky {
  position: sticky !important;
  z-index: 999;
  top: 0 !important;
  background-color: #373331 !important;
  width: 100%;
  a {
    color: white !important;
    &:hover {

    }
  }
}




.card {
  margin: 10px 4px;
  transition: .6s ease;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.card:hover {
  transform: scale(1.15);
}

.card-block {
   padding: 10px;
}

.scrollcards {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

div.scrollcards .card {
    display: inline-block;
    padding: 7px;
    text-decoration: none;
    height: auto;
    width: 300px;
}


.review-box {
  border: solid #E3E3E3 2px;
  border-top: none;
  width:100%;
}






