.product-wrapper{
  max-width:500px;
  margin-bottom: 50px;
  position: relative;
  img{
  width: 100%;
  }
}

.image-zoom {
  position : absolute;
  left : 0;
  top : 0;
  bottom : 0;
  right : 0;
  opacity : 0.9;
  display : none;
  overflow : hidden;
  cursor:move;
}
.image-zoom img {
    position : absolute;
    top : 0;
    left : 0;
}

