// Specific CSS for your home-page
.fdb-block {
  padding: 20px 0 !important;
}

@media only screen  and (min-width : 1224px) {
  .img-shoe {
      width: 360px;
      height: 300px;
  }
  .section-heels {
  height: 110vh;
  }
  .section-trainer {
    height: 80vh;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .section-heels {
    height: 72vh;
  }
  #img-mobile-heels {
    left: 7rem;
    margin-top: 2rem;
  }
  .section-trainer {
    height: 60vh;
  }
  .trainer-description {
    top: 7rem;
  }
  #img-mobile-trainer {
    left: 5rem;
  }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .section-heels {
    height: 55vh;
  }
  .section-trainer {
    height: 40vh;
  }
  .trainer-description {
    top: 1rem;
  }
  #img-mobile-trainer {
    left: 0rem;
  }
}

@media only screen  and (min-width : 1224px) {
  .trainer-description {
    top: 10rem;
  }
}

.text-block {
  position: absolute;
  bottom: -50px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.gender-label a {
  color: white !important;
}

.section-spring {
  background-image: url(https://images.unsplash.com/photo-1516205651411-aef33a44f7c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.social-media-icon {
  color: #f5c16c;
  & :hover {
    color: #FBEED0;
    text-decoration: none !important;
  }
}
