<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active banner">
      <img class="d-block w-100" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546515161/GoldenShoes/sale-written-in-lights_4460x4460.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <p class="mb-4 lead">UPTO 30% OFF ON SELECTED STYLES</p>
        <a href="#" class="shopnow-button mr-3">Shop Womens</a>
        <a href="#" class="shopnow-button mr-3">Shop Mens</a>
      </div>
    </div>
    <div class="carousel-item banner">
      <img class="d-block w-100 banner-height" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546689958/GoldenShoes/hanna-postova-667510-unsplash.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="mb-4">WILD WEST</h5>
        <p>The wildest collection is here.</p>
        <a href="#" class="shopnow-button">Shop Ankle Boots</a>
      </div>
    </div>
    <div class="carousel-item banner">
      <img class="d-block w-100 banner-height" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546690256/GoldenShoes/kyle-loftus-1169706-unsplash.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h5>WATERPROOF WARMS</h5>
        <p>Say goodbye to cold toes with a pair of warm, waterproof boots.</p>
          <a href="#" class="shopnow-button mr-3">Shop Womens</a>
          <a href="#" class="shopnow-button mr-3">Shop Mens</a>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carousel" role="buttton" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="buttton" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
