<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active banner">
      <img class="d-block w-100" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546515161/GoldenShoes/sale-written-in-lights_4460x4460.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <p class="mb-4 lead">Upto 30% off on selected styles.</p>
        <a href="#" class="shopnow-button mr-3">Shop Womens</a>
        <a href="#" class="shopnow-button mr-3">Shop Mens</a>
      </div>
    </div>
    <div class="carousel-item banner">
      <img class="d-block w-100" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546513753/GoldenShoes/img1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing</h5>
        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
      </div>
    </div>
    <div class="carousel-item banner">
      <img class="d-block w-100" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546515428/GoldenShoes/andrew-tanglao-505288-unsplash.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lorem ipsum dolor sit amet, consectetuer</h5>
        <p>Praesent in mauris eu tortor porttitor accumsan. Donec quis nibh at felis congue commodo. Fusce wisi. Proin mattis lacinia justo. Phasellus faucibus molestie nisl.</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carousel" role="buttton" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="buttton" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
