.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
  bottom: 70px !important;
}


.banner {

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
