.golden-logo {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #f5c16c !important;
}

#navbar-main {
  background-color: black;
  position: sticky;
}

#navbar-top {
  background-color: rgba(245,193,108, 0.8);
  height: 40px;
}

.nav-item {
  a {
   color: white !important;
  }
}

.small-nav {
  a {
   color: black !important;
  }
}

@media only screen  and (min-width : 1224px) {
  #delivery-tag {
    margin-left: 525px;
  }
}

.dropdown-menu {
  a {
    color: black !important;
  }
}

.dropdown:hover>.dropdown-menu {
  display: block;
}


.dropdown-toggle:after { content: none }
