<section class="fdb-block">

    <div class="row text-right align-items-center">

      <div class="col-12 col-md-7 col-lg-5 m-auto text-left pt-5 pt-md-0">

        <div class="row pb-lg-5">
          <div class="col-12 img-magnifier-container">
            <img alt="image" class="img-fluid" id="myimage" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546532524/GoldenShoes/Screen_Shot_2019-01-03_at_16.21.29.png">
          </div>
        </div>

        <div class="row pt-4 pt-md-5 pb-lg-5">
          <div class="col-12">
            <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546538853/GoldenShoes/Screen_Shot_2019-01-03_at_18.07.06.png">
          </div>
        </div>


        <div class="row pt-4 pt-md-5">
          <div class="col-12">
            <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546532524/GoldenShoes/Screen_Shot_2019-01-03_at_16.21.41.png">
          </div>
        </div>
      </div>

      <div class="col-7 col-lg-4 col-md-4" style="margin-right: 100px;">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546538181/GoldenShoes/Screen_Shot_2019-01-03_at_17.55.43.png">
      </div>

    </div>
</section>
