<section class="fdb-block">

    <div class="row text-right">
      <div class="col-12 col-md-7 col-lg-5 m-auto text-left pt-5 pt-md-0" style="margin-left: 100px;">
        <div class="row pb-lg-5">
          <div class="col-12 product-wrapper">
            <a style="cursor: zoom-in;" href="">
              <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546623426/GoldenShoes/MIRREN100DFS_000071_SIDE.jpg">
            </a>
          </div>
        </div>

        <div class="row pt-4 pt-md-5">
          <div class="col-12 product-wrapper">
            <a style="cursor: zoom-in;" href="">
            <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546623545/GoldenShoes/MIRREN100DFS_000071_MODEL.jpg">
          </a>
          </div>
        </div>

        <div class="row pt-4 pt-md-5 pb-lg-5">
          <div class="col-12 product-wrapper">
            <a style="cursor: zoom-in;" href="">
              <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546623643/GoldenShoes/MIRREN100DFS_000071_DETAIL.jpg">
            </a>
          </div>
        </div>

        <div class="row pt-4 pt-md-5">
          <div class="col-12 product-wrapper">
            <a style="cursor: zoom-in;" href="">
            <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546623646/GoldenShoes/MIRREN100DFS_000071_BACKPAIR.jpg">
          </a>
          </div>
        </div>

      </div>


      <div class="col-7 col-lg-4 col-md-4 d-none d-md-block"   style="margin-right: 20px;">
        <img alt="image" style="width:100%" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546538181/GoldenShoes/Screen_Shot_2019-01-03_at_17.55.43.png">
      </div>

    </div>

    <div class="image-zoom">
      <img src='' style="width:100%">
    </div>
</section>


<section class="fdb-block">
  <h2 class="text-center mb-5">YOU MAY ALSO LIKE...</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="scrollcards">

          <div class="card">
            <a href=""><img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625850/GoldenShoes/MIRREN100SOP_080986_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625434/GoldenShoes/MAPLE125VUC_000757_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625461/GoldenShoes/MIRREN85SOP_010003_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625525/GoldenShoes/BLAIZE100SUE_042916_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625523/GoldenShoes/MALIN40YSL_000757_side.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625591/GoldenShoes/LYNN100UHS_110323_SIDE.jpg">
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625527/GoldenShoes/BLAIZE100PAT_010003_SIDE.jpg">
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546625690/GoldenShoes/MIRREN85SUE_112110_SIDE.jpg">
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 64</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>


      </div>
    </div>
   </div>
</section>



