<section class="fdb-block">

    <div class="row text-right align-items-center">
      <div class="col-12 col-md-7 col-lg-5 m-auto text-left pt-5 pt-md-0" style="margin-left: 100px;">
        <div class="row pb-lg-5">
          <div class="col-12 product-wrapper">
            <a style="cursor: zoom-in;" href="">
              <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546532524/GoldenShoes/Screen_Shot_2019-01-03_at_16.21.29.png">
            </a>
          </div>
        </div>

        <div class="row pt-4 pt-md-5 pb-lg-5">
          <div class="col-12 product-wrapper">
            <a style="cursor: zoom-in;" href="">
              <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546538853/GoldenShoes/Screen_Shot_2019-01-03_at_18.07.06.png">
            </a>
          </div>
        </div>


        <div class="row pt-4 pt-md-5">
          <div class="col-12 product-wrapper">
            <a style="cursor: zoom-in;" href="">
            <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546532524/GoldenShoes/Screen_Shot_2019-01-03_at_16.21.41.png">
          </a>
          </div>
        </div>
      </div>

      <div class="col-7 col-lg-4 col-md-4" style="margin-right: 20px;">
        <img alt="image" style="width:100%" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546538181/GoldenShoes/Screen_Shot_2019-01-03_at_17.55.43.png">
      </div>

    </div>

    <div class="image-zoom">
      <img src='' style="width:100%">
    </div>
</section>



